.home-video {
    width: 100%; 
    display: block;
    position: absolute;
    height: calc(100vh - 80px);
    overflow: hidden;
    background-color: rgba(0,0,0)
}

.home-intro-text-container {
    display: block;
    background-color: rgba(0,0,0, .8);
    padding: 70px 20px;
}

@media screen and (min-width: 600px) {
    .home-intro-text-container {
        position: absolute;
        display: block;
        bottom: 0%;
        background-color: rgba(0,0,0, .8);
        padding: 40px 40px;
    }
  }

.home-intro-text-header {
    text-align: center;
    align-self: center;
    display: block;
    margin: 0;
}
