.h1-main-style {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-family: Bahnschrift;
    color: white
}

.whats-next-page-grid-container {
    display: flex;
    padding: 100px 20%;
    overflow: scroll;
}